html{
	background:#eee;
}
*{
	margin:0 auto;
	font-size:12px;
}
.fl{
	float:left;
}
.fr {
	float:right;
} 
.context_box{
	width:320px;
	margin:0 auto;
	margin-bottom:20px;
}
.context_box .banner_box img{
	width:320px;
	border:0;
}
.context_box .warp_box{
	width:320px;
	background:#fff;
}
.warp_box .link_us{
	line-height:36px;
	font-size:16px;
	text-align:center;
	color:#ff9c00;
	font-weight:bold;
}
.warp_box .nav_img{
	display:block;
	width:220px;
	height:100px;
	background:#fff;
	margin-top:5px;
}
.warp_box .nav_title{
	display:block;
	width:92px;
	height:92px;
	background:#a800ff;
	margin-top:5px;
	color:#fff;
	padding:4px;
}

.warp_box .nav_title p{
	font-size:10px;
}
.warp_box .nav_title h2{
	font-size:14px;
	margin-top:26px;
}
.warp_box .nav_img.nav01_img{
	background:url(../images/nav01.jpg) 0 0 no-repeat;
	background-size:100% auto;
}
.warp_box .nav_img.nav02_img{
	background:url(../images/nav02.jpg) 0 0 no-repeat;
	background-size:100% auto;
}
.warp_box .nav_img.nav03_img{
	background:url(../images/nav03.jpg) 0 0 no-repeat;
	background-size:100% auto;
}
.warp_box .nav_img.nav04_img{
	background:url(../images/nav04.jpg) 0 0 no-repeat;
	background-size:100% auto;
}
.warp_box .nav_title.nav02_title{
	background:#ff9c00;
}
.warp_box .nav_title.nav03_title{
	background:#05d000;
}
.warp_box .nav_title.nav04_title{
	background:#00d8f2;
}
.context_box .footer{
	line-height:36px;
	text-align:center;
}